.container-product {
  display: inline-flex;
}

.listagem-produto {
  border: none;
}

.listagem-linha {
  margin: 0;
  border: 0;
}

.item-produto {
  min-height: 42rem;
}

.imagem-produto img {
  height: 25rem;
  width: 25rem;
}

.info-produto,
.nome-produto {
  padding: 0;
  font: 300 1.6rem/1.5 "Nunito", Sans-serif;
  padding-top: 1rem;
  min-height: inherit !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.info-produto a,
.nome-produto a {
  color: #000000;
  text-decoration: none;
  font: 600 2rem/2 "Nunito", Sans-Serif;
}

.preco-produto strong,
.destaque-avista strong {
  color: #ed9121;
}

.listagem-produto ul li {
  list-style: none;
  padding: 1rem 0rem;
  margin: 1rem;
  margin-right: 3rem;
}

.botao-compra {
  display: grid;

  margin-top: 2.4rem;

  width: 20rem;
  height: 3rem;

  border: 0.1rem solid #000000;
  background: #000000;
}

.botao-compra a {
  font: 300 1.6rem/1 "Nunito", Sans-Serif;
  text-decoration: none;
  color: #ed9121;
  text-align: center;
  margin-top: 0.8rem;
}

.produto {
  display: inline-block;
}
