<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <title>Little Paper</title>

    <link rel="icon" href="../images/logotop.png" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/buttons.css" />
    <link rel="stylesheet" href="../css/logo.css" />
    <link rel="stylesheet" href="../css/menutop.css" />
    <link rel="stylesheet" href="../css/container-product.css" />
    <link rel="stylesheet" href="../css/footer.css" />
  </head>
  <body>
    <header class="header-principal">
      <div class="fundo-header">
        <!-- Topo do site -->
        <div class="header-1">
          <div class="menu-fixo">
            <div class="logo">
              <img
                src="../images/logo-sitefigma.svg"
                alt="Logo"
                onclick="home(inicio)"
              />
            </div>

            <div class="search">
              <input type="text" class="txtBusca" />
              <button class="btnBusca" type="submit"></button>
            </div>

            <div class="buttons">
              <ul>
                <li>
                  <a href="">
                    <img
                      src="../images/cari-figma.svg"
                      id="car-icon"
                      alt="Carrinho"
                    />
                  </a>
                </li>
                <li>
                  <a href="">
                    <img
                      src="../images/login-figma.svg"
                      id="login-icon"
                      alt="Login"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <main class="main-tudo">
        <!-- Frase -->
        <div class="frase">
          <div class="frase-impacto">
            <img src="../images/frase-impacto-dancing.svg" alt="frase impact" />
          </div>
        </div>

        <main class="main-product">
          <nav class="menu-horizontal">
            <div class="position-sticky">
              <ul class="menu">
                <li>
                  <a href="./categorias.html">Feminino</a>
                  <div class="fundo-nivel-2">
                    <ul id="nivel-2">
                      <li><a href="#">Agenda/2021</a></li>
                      <li><a href="#">Agenda Permanente</a></li>
                      <li><a href="#">Bloco de Anotações</a></li>
                      <li><a href="#">Escrita</a></li>
                      <li><a href="#">Office Decore</a></li>
                    </ul>
                  </div>
                </li>

                <li>
                  <a href="#">Jovem</a>
                  <div class="fundo-nivel-2">
                    <ul id="nivel-2">
                      <li><a href="#">Agenda/2021</a></li>
                      <li><a href="#">Agenda Permanente</a></li>
                      <li><a href="#">Bloco de Anotações</a></li>
                      <li><a href="#">Escrita</a></li>
                      <li><a href="#">Office Decore</a></li>
                    </ul>
                  </div>
                </li>

                <li>
                  <a href="#">Papelaria</a>
                  <div class="fundo-nivel-2">
                    <ul id="nivel-2">
                      <li><a href="#">Agenda/2021</a></li>
                      <li><a href="#">Agenda Permanente</a></li>
                      <li><a href="#">Bloco de Anotações</a></li>
                      <li><a href="#">Escrita</a></li>
                      <li><a href="#">Office Decore</a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#">Masculino</a>
                  <div class="fundo-nivel-2">
                    <ul id="nivel-2">
                      <li><a href="#">Agenda/2021</a></li>
                      <li><a href="#">Agenda Permanente</a></li>
                      <li><a href="#">Bloco de Anotações</a></li>
                      <li><a href="#">Escrita</a></li>
                      <li><a href="#">Office Decore</a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#">Combo</a>
                  <div class="fundo-nivel-2">
                    <ul id="nivel-2">
                      <li><a href="#">Agenda/2021</a></li>
                      <li><a href="#">Agenda Permanente</a></li>
                      <li><a href="#">Bloco de Anotações</a></li>
                      <li><a href="#">Escrita</a></li>
                      <li><a href="#">Office Decore</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </nav>

          <div class="catalog">
            <div class="catalog-header">
              <div class="categorias">
                <h4>Feminino</h4>
              </div>
              <div class="system-filter">
                <form class="catalog-form-filter">
                  <input name="loja" type="hidden" data-form="filter" />
                  <input name="palavra_chave" type="hidden" />
                  <label class="filtro filtro-ordem">
                    Classificar Por&nbsp;
                    <select name="ordem" id="select_ordem" class="select">
                      <option value="1" selected="selected">
                        <a href="#"> Nome do Produto </a>
                      </option>
                      <option value="2">
                        <a href="#">Mais Vendido</a>
                      </option>
                      <option value="3"><a href="#">Lançamento</a></option>
                      <option value="4"><a href="#">Menor Preço</a></option>
                    </select>
                  </label>
                </form>
              </div>
            </div>
          </div>

          <div class="container-product">
            <div class="listagem-produto">
              <ul class="produtos-horizontais">
                <li class="listagem-linha">
                  <ul>
                    <li class="produto">
                      <div class="item-produto">
                        <a href="#" class="link-hidden caneta-gold"></a>
                        <div class="imagem-produto">
                          <img
                            src="../images/caneta gold.png"
                            alt="Caneta-gold"
                          />
                          <div class="info-produto">
                            <a href="#" class="nome-produto">Caneta Gold</a>
                            <div>
                              <div class="preco-produto destaque-avista">
                                <div>
                                  <strong
                                    class="preco-promocional cor-principal"
                                  >
                                    R$ 39,90
                                  </strong>
                                </div>
                                <div>
                                  <span class="preco-parcela">
                                    até

                                    <strong class="cor-secundaria">1x</strong>

                                    de

                                    <strong class="cor-secundaria">
                                      R$ 39,90
                                    </strong>
                                    <span>Sem juros</span>
                                  </span>
                                </div>
                                <span class="desconto-avista">
                                  <strong class="cor-principal titulo">
                                    R$ 37,90
                                  </strong>
                                  <span>à vista</span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="botao-compra">
                          <a href="#">COMPRAR</a>
                        </div>
                      </div>
                    </li>

                    <li class="produto">
                      <div class="item-produto">
                        <a href="#" class="link-hidden caneta-gold"></a>
                        <div class="imagem-produto">
                          <img src="../images/pompom.png" alt="Caneta-gold" />
                          <div class="info-produto">
                            <a href="#" class="nome-produto">Caneta Pompom</a>
                            <div>
                              <div class="preco-produto destaque-avista">
                                <div>
                                  <strong
                                    class="preco-promocional cor-principal"
                                  >
                                    R$ 39,90
                                  </strong>
                                </div>
                                <div>
                                  <span class="preco-parcela">
                                    até

                                    <strong class="cor-secundaria">1x</strong>

                                    de

                                    <strong class="cor-secundaria">
                                      R$ 39,90
                                    </strong>
                                    <span>Sem juros</span>
                                  </span>
                                </div>
                                <span class="desconto-avista">
                                  <strong class="cor-principal titulo">
                                    R$ 37,90
                                  </strong>
                                  <span>à vista</span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="botao-compra">
                          <a href="#">COMPRAR</a>
                        </div>
                      </div>
                    </li>

                    <li class="produto">
                      <div class="item-produto">
                        <a href="#" class="link-hidden caneta-gold"></a>
                        <div class="imagem-produto">
                          <img
                            src="../images/conjunto-caneta-perola.png"
                            alt="Caneta-gold"
                          />
                          <div class="info-produto">
                            <a href="#" class="nome-produto">Caneta Gold</a>
                            <div>
                              <div class="preco-produto destaque-avista">
                                <div>
                                  <strong
                                    class="preco-promocional cor-principal"
                                  >
                                    R$ 39,90
                                  </strong>
                                </div>
                                <div>
                                  <span class="preco-parcela">
                                    até

                                    <strong class="cor-secundaria">1x</strong>

                                    de

                                    <strong class="cor-secundaria">
                                      R$ 39,90
                                    </strong>
                                    <span>Sem juros</span>
                                  </span>
                                </div>
                                <span class="desconto-avista">
                                  <strong class="cor-principal titulo">
                                    R$ 37,90
                                  </strong>
                                  <span>à vista</span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="botao-compra">
                          <a href="#">COMPRAR</a>
                        </div>
                      </div>
                    </li>

                    <li class="produto">
                      <div class="item-produto">
                        <a href="#" class="link-hidden caneta-gold"></a>
                        <div class="imagem-produto">
                          <img
                            src="../images/caneta gold.png"
                            alt="Caneta-gold"
                          />
                          <div class="info-produto">
                            <a href="#" class="nome-produto">Caneta Gold</a>
                            <div>
                              <div class="preco-produto destaque-avista">
                                <div>
                                  <strong
                                    class="preco-promocional cor-principal"
                                  >
                                    R$ 39,90
                                  </strong>
                                </div>
                                <div>
                                  <span class="preco-parcela">
                                    até

                                    <strong class="cor-secundaria">1x</strong>

                                    de

                                    <strong class="cor-secundaria">
                                      R$ 39,90
                                    </strong>
                                    <span>Sem juros</span>
                                  </span>
                                </div>
                                <span class="desconto-avista">
                                  <strong class="cor-principal titulo">
                                    R$ 37,90
                                  </strong>
                                  <span>à vista</span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="botao-compra">
                          <a href="#">COMPRAR</a>
                        </div>
                      </div>
                    </li>

                    <li class="produto">
                      <div class="item-produto">
                        <a href="#" class="link-hidden caneta-gold"></a>
                        <div class="imagem-produto">
                          <img src="../images/pompom.png" alt="Caneta-gold" />
                          <div class="info-produto">
                            <a href="#" class="nome-produto">Caneta Pompom</a>
                            <div>
                              <div class="preco-produto destaque-avista">
                                <div>
                                  <strong
                                    class="preco-promocional cor-principal"
                                  >
                                    R$ 39,90
                                  </strong>
                                </div>
                                <div>
                                  <span class="preco-parcela">
                                    até

                                    <strong class="cor-secundaria">1x</strong>

                                    de

                                    <strong class="cor-secundaria">
                                      R$ 39,90
                                    </strong>
                                    <span>Sem juros</span>
                                  </span>
                                </div>
                                <span class="desconto-avista">
                                  <strong class="cor-principal titulo">
                                    R$ 37,90
                                  </strong>
                                  <span>à vista</span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="botao-compra">
                          <a href="#">COMPRAR</a>
                        </div>
                      </div>
                    </li>

                    <li class="produto">
                      <div class="item-produto">
                        <a href="#" class="link-hidden caneta-gold"></a>
                        <div class="imagem-produto">
                          <img
                            src="../images/conjunto-caneta-perola.png"
                            alt="Caneta-gold"
                          />
                          <div class="info-produto">
                            <a href="#" class="nome-produto">Caneta Gold</a>
                            <div>
                              <div class="preco-produto destaque-avista">
                                <div>
                                  <strong
                                    class="preco-promocional cor-principal"
                                  >
                                    R$ 39,90
                                  </strong>
                                </div>
                                <div>
                                  <span class="preco-parcela">
                                    até

                                    <strong class="cor-secundaria">1x</strong>

                                    de

                                    <strong class="cor-secundaria">
                                      R$ 39,90
                                    </strong>
                                    <span>Sem juros</span>
                                  </span>
                                </div>
                                <span class="desconto-avista">
                                  <strong class="cor-principal titulo">
                                    R$ 37,90
                                  </strong>
                                  <span>à vista</span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="botao-compra">
                          <a href="#">COMPRAR</a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </main>

        <footer>
          <div class="footer">
            <div id="cor-fundo">
              <div class="container-footer">
                <div id="contato">
                  <h2>CONTATO</h2>
                  <span> (51)9 8261-6603</span>
                  <span> (51)9 8485-1869</span>
                  <a href="#">contatolittlepaper@gmail.com</a>
                </div>

                <div id="acompanhe">
                  <h1>ACOMPANHE</h1>
                  <div class="rede-sociais">
                    <a href="#" class="rede-instagram">
                      <img
                        src="../images/iconinstafigmateste.png"
                        alt="instagram"
                      />
                    </a>

                    <a href="#" class="rede-facebook">
                      <img
                        src="../images/facebookiconfimga.png"
                        alt="facebook"
                      />
                    </a>
                  </div>
                </div>

                <div id="nossa-historia">
                  <h2>INSTITUCIONAL</h2>
                  <a href="#">Nossa História</a>
                </div>
              </div>
            </div>
          </div>
        </footer>
        <script src="../js/index.js"></script>
      </main>
    </header>
  </body>
</html>
